@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row h-100 mt-3">
    <div class="col theme-content-background py-3 rounded">
        <div class="row h-100">
            <div class="col-2 p-0 border-right">
                <p class="px-3 py-2 m-0" style="font-size: 18px; font-weight: normal; font-style: italic;">Peoples</p>
                <ul class="list-group list-group-flush" id="userList">
                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-id="">
                        user <span class="badge bg-primary rounded-pill">14</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-id="">
                        user <span class="badge bg-primary rounded-pill">14</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-id="">
                        user <span class="badge bg-primary rounded-pill">14</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-id="">
                        user <span class="badge bg-primary rounded-pill">14</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-id="">
                        user <span class="badge bg-primary rounded-pill">14</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-id="">
                        user <span class="badge bg-primary rounded-pill">14</span>
                    </a>
                </ul>
            </div>
            <div class="col-10">
                <div class="row" id="msgWindow">
                    <div class="col h-100" style="background-color: #eee;">
                        <div style="position: relative; width: 100%; height: 100%; overflow: hidden;">
                            <div class="" style="position:absolute; bottom: 5px; width: 100%; overflow-y: scroll; scrollbar-width: thin; max-height:100%;" id="msgContainer">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="footerWrapper">
                        <div class="d-flex flex-row align-items-center justify-content-between mt-3" style="gap: 10px;">
                            <input type="text" class="form-control" name="message" id="msgContent">
                            <button class="btn btn-primary btn-sm round" id="btnSendMsg"><i class="fa-solid fa-paper-plane"></i></button>
                        </div>
                    </div>                   
                </div>
                <!--
                <div class="row">
                    <div class="col">
                        <button class="btn btn-sm"><i class="fa-solid fa-image"></i></button>
                        <button class="btn btn-sm"><i class="fa-solid fa-paperclip"></i></button>
                        <button class="btn btn-sm"><i class="fa-solid fa-microphone-lines"></i></button>
                        <button class="btn btn-sm"><i class="fa-solid fa-link"></i></button>
                        <button class="btn btn-sm"><i class="fa-solid fa-face-smile"></i></button>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
    let userId = '@ViewBag.UserId';
    let channelId = '@ViewBag.ChannelId';

    $(document).ready(function () {

        CimpleChat.Channel.initChannel('#userList', '#msgContainer');      

        $('#btnSendMsg').on('click', function () {            
            CimpleChat.Channel.sendMessage($('#msgContent').val(), function () {
                $('#msgContent').val('');
            });
        });

        $('#msgContent').on('keydown', function (event) {
            if (event.key === "Enter"){
                $('#btnSendMsg').trigger('click');
            }
        });
    });
</script>
}